

.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    height:100vh;
    margin-top:30px;
    
}
.sec3-1{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;

   
}
.sec3-2{
     display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
   }
.box-1{
    width:500px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
     border-radius: 20px;
    height:500px;
    background-color:rgb(74, 27, 40);
    gap:10px;
    align-items: center;
}
.box-1 > :nth-child(1){
    font-size: 24px;
    font-weight: 600;
}
.skills-1 img{
    width:30px;
    
}
.skills-1{
    display: flex;
    align-items: start;
   
}
.skills1-2{
    display: flex;
    flex-direction: column;
    gap:10px;
    color: white;
}
.skills1-2 > :nth-child(1){
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.skills {
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;

}
.box-1 > :nth-child(1){
    font-size: 24px;
    font-weight: 600;
}
@media(max-width:767px){
    .sec3{
        
        padding-bottom:;
    }
    .box-1{
    width:300px;
   
    height:400px;
   
    gap:5px;
    
}
.box-1 > :nth-child(1){
    font-size: 30px;
    font-weight: 300;
}
.skills {
    
    gap:50px;

}


    
 
}

